body {
    background-color: gray;
}

[class*="col"] {
    color: aqua;
    padding: 1rem;
    border: 2px solid #fff;
    color: #fff;
    background-color: rgba(166, 175, 173, 0.5);
}

p{
    text-size-adjust: 2px;
}

button{
    border-radius: 2px;
    background-color: red;
}

.col1{
    background-color: blue;
}